.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  max-height: 80vh; /* Limita la altura máxima para permitir el scroll */
  overflow-y: auto; /* Permite el scroll vertical */
}

.modal h2 {
  margin-top: 0;
}

.modal form .p-field {
  margin-bottom: 1rem;
}

.modal h2 {
  margin-top: 0;
}

.modal form input,
.modal form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
