/* styles/DataView.css */
.bitacora-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.bitacora-card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.bitacora-card .description {
  font-size: 0.875rem;
  color: #555;
  text-align: center;
}

.bitacora-card .location {
  font-size: 0.875rem;
  color: #777;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    gap: 1rem; /* Espacio entre las tarjetas */
}

.grid-card {
    width: 100%;
}

/* Ajustes para pantallas medianas */
@media (max-width: 991px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
}



