/* Login.css */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../IMG/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
  padding: 1rem;
}

.login-card {
  width: 100%;
  max-width: 450px;
  height: 550px;
  padding: 3rem;
  border-radius: 10px;
  
  
}
.login-card2 {
  width: 100%;
  max-width: 450px;
  height: 550px;
    background-color: #c5e3c9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url('../IMG/Botanicakeli.png');
    background-position: center;
    
}
.login-card2, .login-card {
  transition: transform 0.3s ease;
}

.login-card2:hover, .login-card:hover {
  transform: translateY(-5px);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #050505;
  font-family: 'Arial', sans-serif;
}

.input-text,
.p-password-input {
  width: 100%;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;

}

.input-text:focus,
.p-password-input:focus {
  border-color: #5b76f9;
  outline: none;
}

.error-message {
  color: #f44336;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.p-button-lg {
  width: 100%;
  height: 2.75rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #75be83c6;
  color: white;
}

.p-button-lg:hover {
  background-color: #16d75a;
}

.social-login-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem; 
  margin-top: 1rem;
}

.p-button-facebook {
  background-color: #3b5998;
  color: white;
}

.p-button-google {
  background-color: #db4437;
  color: white;
}

.p-button-github {
  background-color: #333;
  color: white;
}

.p-button-facebook:hover {
  background-color: #334d84;
}

.p-button-google:hover {
  background-color: #c33d2f;
}

.p-button-github:hover {
  background-color: #292929;
}

.create-account-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.create-account-link a {
  color: #3cdf14;
  font-weight: bold;
  text-decoration: none;
}

.create-account-link a:hover {
  text-decoration: underline;
}

