
.permanent-sidebar {
    background-image: url("hojas.jpeg");
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    width: 280px; 
    font-size: 20px;
    color: white;
}


.header-settings {
    background-color: rgb(202, 244, 230);
    margin-left: 280px; 
    width: calc(100% - 280px);
}

.main-content {
    margin-left: 280px; 
}

.d-block.d-lg-none {
    display: none;
}

@media (max-width: 991px) {
    .permanent-sidebar {
        display: none; 
    }
    
    .header-settings {
        margin-left: 0; 
        width: 100%;
    }
    
    .d-block.d-lg-none {
        display: block;
    }
    
    .main-content {
        margin-left: 0;
    }
}
